api:
  dashboard: true
  insecure: false

entryPoints:
  web:
    address: ":80"
  websecure:
    address: ":443"
    http:
      tls:
        certResolver: default

providers:
  docker:
    endpoint: "unix:///var/run/docker.sock"
    exposedByDefault: false
    network: stratavore-frontend
  file:
    filename: /etc/traefik/dynamic.yml
    watch: true

certificatesResolvers:
  default:
    acme:
      storage: /certs/acme.json

log:
  level: INFO

accessLog:
  filePath: "/var/log/traefik/access.log"
